body {
   background-color: #e4e4e4;
   color: #111;
   font-family: "Noto Sans", sans-serif;
   font-size: small;
   line-height: 1.3em;
   padding: 0 2em;
}

header,
main {
   max-width: 950px;
   min-width: max(250px, min(950px, 80%));
   line-height: 1.5em;
}

header {
   margin: 2.5em auto 2em auto;
   padding: 0 3em;
   color: #04a;
}

main {
   margin: 0 auto;
   padding: 3em;
   background-color: #fafafa;
   border-radius: 4px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Elements */
a {
	color: #2774e7;
	border-bottom: 1px solid #aaa;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	margin: 0 0 1em 0;
	font-size: 220%;
	font-weight: normal;
	line-height: 1.2em;

	color: #04a;
}

h2 {
	margin: 1.5em 0 1em 0;

	font-size: 180%;
	font-weight: normal;
	line-height: 1.2em;

	color: #333;
}

img {
	max-width: 100%;
}

/* */

a.button {
	display: inline-block;

	margin: 0 0.5em 0.5em 0;
	padding: 0.5em 0.75em;
   padding: 0.75em 1em;

	background-color: #fff;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.1 );

	border: none;
	border-bottom: 2px solid #ccc;
}
	a.button:hover, a.button:active, a.button:focus {
		box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
		border-bottom: 2px solid #999;
	}
	a.button:after {
		display: block;
		float: right;

		content: "›";
		font-weight: 300;
		font-size: 140%;
		margin: -0.1em 0 0 0.5em;
		color: #555;
	}
	a.button.primary,
   .release_documents a.button:first-child {
		border-bottom: 2px solid #7cb8f7;
	}
		a.button.primary:hover, a.button.primary:active, a.button.primary:focus {
			border-bottom: 2px solid #2c82dd;
		}
	a.button.back:after {
		float: left;
		content: "‹";
		margin: -0.1em 0.5em 0 0;
	}
	a.button.clean:after {
		margin: 0;
		content: "";
	}
