---
layout: default
---

{{ content }}

{%- if site.releases.size > 0 -%}
   {% assign releases = site.releases | group_by: 'release' | reverse %}
   {%- for release in releases -%}
      <div class="release">
         <h2>Xubuntu {{ release.name }}</h2>
         <div class="documents">
            {%- for document in release.items -%}
               <a class="button" href="{{ document.url | relative_url }}">
                  {%- if document.link_name -%}
                     {{ document.link_name }}
                  {%- else -%}
                     {{ document.title }}
                  {%- endif -%}
               </a>
            {%- endfor -%}
         </div>
      </div>
   {%- endfor -%}
{%- endif -%}
